/* INTRO */

.intro {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  display: table;
  background-color: #191919;
  width: 100%;
  height: 33vh;
  overflow-x: hidden;

  & > .our-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -1.5rem;
  }

  h1 {
    line-height: 5.25rem;
    margin-bottom: 1rem;
    width: 70%;
    font-weight: 600;
    font-size: 5rem;
    color: rgba(255,255,255,0.95);
  }

  .breadcrumb {
    display: none;
    background-color: transparent;
    padding: 0px;
    a { color: white }
    .breadcrumb-item + .breadcrumb-item::before {
      font-weight: bolder;
    }
  }

  ::selection {
    background-color: rgba(255,255,255,0.95);
    color: rgba(0,0,0,0.95);
  }
}

.intro p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgba(255,255,255,0.9);
}

.calyx-intro img {
  position: absolute;
  width: 15rem;
  top: 5%;
  right: -10rem;
  transform: rotate(-10deg);
  border-radius: 1.8rem;
  box-shadow: -1rem 1rem 3rem rgba(0,0,0,.5);
}

.calyx-intro img:hover {
  right: 3rem;
  margin-left: 0;
  transform: rotate(0deg);
  transition: all 0.25s;
  transform: rotate(0deg);
  transition-duration: .5s;
  box-shadow: 1rem 1rem 3rem rgba(0,0,0,.5);
}

.calyx-intro {
  padding: 1rem 3rem 3rem 3rem;
  position: relative;
  height: 71vh;
  h1 {
    letter-spacing: -.25rem;
  }
}

.intro .text {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -1rem;
}

@media only screen and (max-width: 768px) {

  .intro h1 {
    font-size: 4.5rem;
    line-height: 4.75rem;
    width: 80%;
  }

  .calyx-intro img {
    top: 2rem;
    right: -13rem;
  }

  .intro p {
    width: 80%;
  }

  .calyx-intro img:hover {
    right: -6rem;
  }
}

@media only screen and (max-height: 767px) {
  .calyx-intro {
    height: 80vh;
  }

  .calyx-intro img {
    top: 1rem;
  }

}

@media only screen and (max-width: 640px) {
  .intro h1 {
    font-size: 4rem;
    line-height: 4.25rem;
  }
}


@media only screen and (max-width: 480px) {
  nav {
    padding: none;
  }

  .calyx-intro img {
    display: none;
  }

  .intro {
    padding: 1.5rem;
  }

  .intro h1 {
    width: 100%;
    font-size: 3.5rem;
    line-height: 3.75rem;
  }

  .intro p {
    width: 100%;
  }

}

@media only screen and (max-width: 375px) {

  .intro h1 {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }


}
