.locales a {
  display: block;
  padding: 4px;
  border-radius: 4px;
  &.active {
    color: white;
    background-color: $masthead-bg;
  }
}

code.highlighter-rouge {
  background: #efefef;
  padding: 2px;
  padding-bottom: 0px;
}

pre.highlight {
  padding: 1em;
}

//
// DOWNLOAD
//

table.download {
  td {
    white-space: nowrap;
  }
  td.hash {
    width: 100%;
    white-space: pre-line;
    word-break: break-all;
    //max-width: 0;
    //overflow: hidden;
    //text-overflow: ellipsis;
  }
}

//
// NAVIGATION
//

.navbar .nav-link {
  margin: 0.25em;
}

.navbar-toggle {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url($baseurl + "/assets/images/dm-icon-menu.svg");
  background-size: cover;
  z-index: 200;
  display: none;
  position: relative;
  top: .25rem;
}

.navbar a::selection {
  background-color: rgba(255,255,255,0.95);
  color: rgba(0,0,0,0.95);
}

.navbar a span::selection {
  background-color: rgba(255,255,255,0.95);
  color: rgba(0,0,0,0.95);
}

.feature {
  align-items: center;
}

.row:first-of-type {
  padding-top: 0;
}

h2.post-title {
  margin-bottom: 1rem;
}

.row {
  flex-wrap: initial !important;
}

.mission {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 6rem;
}

.mission p {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.3;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}

.join p {
  width: 80%;
  margin-bottom: 2rem;
}

.join img {
  width: 6rem;
  margin-bottom: .5rem;
}

#learn img {
  margin-bottom: 1rem;
}

.flip div:first-of-type {
  order: 2;
}

.flip {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .join p {
    width: 100%;
  }

  .mission p {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .navbar-toggle { display: block }
  .masthead .navbar-nav {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 36px;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: .5rem;
    background: #333;
    border-radius: 6px;
    .nav-link {
      padding: 0.75em 0.5em 0.5em 1em;
    }
  }
  input.toggle:checked ~ .navbar-nav {
    display: block;
  }
}

//
// CSS TOGGLES
//

label.toggle {
  cursor: pointer;
}

input.toggle {
  display: none;
}

input.toggle:not(:checked) ~ #lang-toggle {
  display: none;
}

@media only screen and (max-width: 640px) {
  .mission p {
    width: 100%;
  }

  .row {
    flex-wrap: wrap !important;
  }

  .flip div:first-of-type {
    order: initial !important;
  }

  .feature.row div>img {
    margin-top: 2rem;
    width: 75%;
  }

}

@media only screen and (max-width: 480px) {
  .intro .our-container {
    padding: 1rem 0 0 0;
  }
}
